.hexa-blue {
    background-color: #035DDF !important;
}

.hexa-black {
    background-color: #000 !important;
}

.hexa-lite-blue {
    background-color: #7380F6 !important;
}

.hexa-primary-blue {
    background-color: #3C49C6 !important;
}

.hexa-teal {
    background-color: #26B99A !important;
}

.hexa-lite-yellow {
    background-color: #F0C419 !important;
}

.hexa-lite-orange {
    background-color: #FFA511 !important;
}

.hexa-dark-orange {
    background-color: #E57E25 !important;
}

.hexa-dark-red {
    background-color: #E52525 !important;
}

.hexa-lite-blue-b {
    background-color: #3FB9E7 !important;
}

.hexa-lt-b {
    background-color: #75C8E6 !important;
}

.hexa-teal-light {
    background-color: #02DBDD !important;
}

.hexa-purple-dark {
    background-color: #4B0082 !important;
}

.hexa-primary-green {
    background-color: #04B075 !important;
}
.hexa-lite-green {
    background-color:#41DAA6!important;
}
.hexa-semi-black{
    background-color: #00322C !important;
}